<!DOCTYPE html>
<html ng-app="projectRtc">
  <head>
   
	<meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keyword" content="HTML, CSS, JAVASCRİPT">
    <meta name="author" content="">
	<title>Live</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="javascripts/adapter.js"></script>
	<script type="text/javascript" src="javascripts/rtcClient.js"></script>
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js">
	</script>
	<script type="text/javascript" src="javascripts/app.js"></script>
  </head>
  <body>
	<div class="container">
		
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
			
				<div class="navbar-header">
					
			
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li><a href="/upload">Upload video</a></li>
						<li><a href="/live">Live Stream</a></li>
						<li><a href="/loaded">View Uploads</a></li>
						<li><a href="/logout">Logout</a></li>
					</ul>
				</div>
			
			</div>
			</nav>
			<div class="">
		<center>
			<%- include('local-cam') -%>
	  </center>
			
	</div>
</div>


  	
  </body>
</html>
<script>


$(window).bind("beforeunload", function() {
    if (show_close_alert) {
        return "Killing me won't bring her back...";
    }
});
</script>