<!DOCTYPE html>
<html ng-app="projectRtc">
  <head>
    <title>Live</title>
    <base href="/" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
	
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="javascripts/adapter.js"></script>
	<script type="text/javascript" src="javascripts/rtcClient.js"></script>
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js">
	</script>
	<script type="text/javascript" src="javascripts/apprtc.js"></script>
  </head>
  <body><center>
	  <div class="remoteStreams" ng-controller="RemoteStreamsController as rtc">
	<h2>Remote Streams</h2>

	<div id="remoteVideosContainer"></div>

	<table>
    	<thead>
    		<tr>
        		<th>Stream</th>
   			</tr>
   		</thead>
    	<tbody>
    		<tr ng-repeat="stream in rtc.remoteStreams" ng-class="{'selected' : stream.isPlaying}">
        		
                <td ng-click="rtc.view(stream)"><a>View</a></td>
               
    		</tr>
		</tbody>
	</table>

	<li ng-click="rtc.loadData()" style="width: 240px">
        <a href>Refresh</a>
    </li>
<div class="remoteStreams">
	</div></div></center></body></html>