
<!Doctype html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keyword" content="HTML, CSS, JAVASCRİPT">
    <meta name="author" content="">
	<title>Sign up</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Register</h1>

	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/studentsignup" method="post">
		<div class="form-group">
		
			<input type="text" class="form-control" placeholder="Username"  name="username">
		</div>

		<div class="form-group">
			<label for="clas">Choose Class:</label>
<select id="clas" name="clas">
  <option value="1">Class 1</option>
  <option value="2">Class 2</option>
  <option value="3">Class 3</option>
  
</select>
		</div>
	
		<div class="form-group">
		
			<input type="password" class="form-control" placeholder="Password"	 name="password">
		</div>

		<button type="submit" class="btn btn-warning btn-lg">Save</button>
	</form>

	<hr>

	<p>Already have user  <a href="/studentlogin">login</a></p>
	<p><a href="/student">Home Page</a>.</p>

</div>

</div>
</body>
</html>
